* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: LLHvH-Open89;
    src: url("../font/LLHvH-Open89.woff2") format("woff2");
}

@font-face {
    font-family: ll-icons;
    src: url("../font/ll-icons.woff");
}

/*-----------Algemeen-----------*/
body {
    width: 100%;
    font-family: LLHvH-Open89;
}

p {
    color: black;
}

h1 {
    font-size: 1.4em;
    margin: 0 auto 0;
    width: 80%;
    text-transform: uppercase;
}

h2 {
    color: white;
    font-size: 0.7em;
    margin: 0 auto 0;
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h3 {
    color: white;
}

ul {
    list-style-type: none;
}

/*-----------Header-----------*/
header {
    position: fixed;
    top: 60px;
    z-index: 1;
}

nav {
    background-color: #0026cc;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: inset 0px -12px 12px -2px rgba(0, 0, 0, 0.75);
}

header ul {
    max-width: 1000px;
    width: 90vw;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 15px 0px;
}

header ul li {
    padding: 7px;
    margin: 0px 10px;
    color: white;
    display: none;
    text-transform: uppercase;
}

#toonMenu {
    display: flex;
    text-decoration: underline;
}

#verbergMenu {
    display: none;
    text-decoration: underline;
}

header ul li a {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}

header ul li a:hover {
    color: #4cd066;
    transition: all 0.5s;
}

/*-----------Programma pagina-video-----------*/
#videoHead {
    width: 100vw;
    overflow: hidden;
    margin-top: -5px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 1);
}

video {
    width: 200%;
    margin: 0 auto 0 -50%;
    position: fixed;
    top: 60px;
}

/*-----------Programma pagina-----------*/
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 55vw auto 0;
    padding: 70px 0;
    background-image: url("../img/achtergrond3.png");
    background-size: cover;
    background-position: top;
    position: relative;
    /*    z-index: 0;*/
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 1);
}

article {
    background-color: #4cd066;
    -webkit-box-shadow: inset 0px 0px 20px 12px rgba(0, 0, 0, 1);
    width: 90vw;
    margin: 2vw auto;
    max-width: 500px;
    max-height: 310px;
    padding: 20px 0px;
    position: relative;
    z-index: 0;
}

div {
    width: 80%;
    max-height: 230px;
    margin: 10px auto 0;
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: 0.5s;
}

article div img {
    width: 100%;
    margin: 0 auto -5px;
    position: relative;
    z-index: -1;
    transition: 0.5s;
}

.artiesten {
    color: black;
    text-decoration: none;
}

/*-----------Footer-----------*/
footer {
    height: 300px;
    background-color: #0026cc;
    margin: 0 auto;
    padding: 40px 10vw;
}

footer ul {
    display: flex;
    margin-bottom: 30px;
    font-family: ll-icons;
    font-size: 2.5em;
}

footer li:nth-child(1) {
    margin-left: 0;
}

footer li {
    color: white;
    margin: 10px 5px;
    transition: all 0.5s;
}

footer li:hover {
    color: #4cd066;
}

legend {
    color: white;
    font-size: 1em;
    letter-spacing: 0.1em;
}

input {
    width: 100%;
    padding: 15px 0 15px 15px;
    margin: 15px auto;
    font-size: 1em;
    box-sizing: border-box;
}

/*-----------JS classes-----------*/
header ul li.zichtbaar {
    display: flex;
}

header ul li.onzichtbaar {
    display: none;
}

header ul li#toonMenu.zichtbaarId1 {
    display: flex;
}

header ul li#verbergMenu.zichtbaarId2 {
    display: flex;
}

header ul li#toonMenu.onzichtbaarId1 {
    display: none;
}

header ul li#verbergMenu.onzichtbaarId2 {
    display: none;
}

/*-----------Media Queries-----------*/

@media screen and (min-width: 560px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 0.8em;
        height: 2em;
    }

    section {
        margin: 45vw auto 0;
    }

    video {
        width: 150%;
        margin: 0 auto 0 -25%;
        top: 85px;
    }

    header ul {
        justify-content: center;
    }

    header ul li {
        margin: 0px 10px;
        /*   maakt menu weer zichtbaar*/
        display: flex;
    }

    header ul li a {
        font-size: 1em;
    }

    /*-----------JS mobiel classes terugkeren-----------*/
    header ul li.onzichtbaar {
        display: flex;
    }

    header ul li.zichtbaar {
        display: none;
    }

    header ul li#toonMenu.zichtbaarId1,
    header ul li#toonMenu {
        display: none;
    }
}

@media screen and (min-width: 750px) {

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 0.7em;
    }

    video {
        width: 100%;
        margin: 0 auto;
        top: 85px;
    }

    section {
        margin: 31vw auto 0;
    }

    article {
        width: 40vw;
        margin: 1vw;
        padding: 30px 0px;
        max-height: 290px;
    }

    article div {
        width: 80%;
        margin: 0px auto -5px;
        overflow: hidden;
    }

    article:hover img {
        transform: scale(1.15);
    }

    article:hover div {
        -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.7);
    }

    /*-----------Footer-----------*/
    input {
        width: 50%;
        font-family: LLHvH-Open89;
    }
}

@media screen and (min-width: 1060px) {
    section {
        margin: 25vw auto 0;
    }

    video {
        top: 60px;
    }
}
